<%- include('./partials/header.ejs') %>
<div class="container my-3">
    <form method="post" action="/add-student">
        <div class="row">
<div class="col-6">
    <div class="mb-3">
        <label for="matricula" class="form-label">Matricula</label>
        <input type="text" class="form-control"  name="matricula">
      </div>
      <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="nombre">
      </div>
      <div class="mb-3">
          <label for="apellidop" class="form-label">Apellido Paterno</label>
          <input type="text" class="form-control" name="apellidop">
      </div>
</div>
<div class="col-6">
    <div class="mb-3">
        <label for="apellidom" class="form-label">Apellido Materno</label>
        <input type="text" class="form-control" name="apellidom">
    </div> 
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email">
    </div>
</div>
        </div>
        <button type="submit" class="btn btn-success">+ Agreagar alumno</button>
      </form>
</div>
<div class="table-container">
<table class="table table-striped">
    <thead>
        <th colspan="2">Matricula</th>
        <th colspan="2">Nombre</th>
        <th colspan="2">Apelido paterno</th>
        <th colspan="2">Apelido materno</th>
        <th colspan="2">Correo</th>
        <th colspan="2">Estado</th>
        <th colspan="2">Acciones</th>
    </thead>
    <tbody>
<% for(let student of list){ %>
        <tr>
            <td colspan="2"><%= student.matricula %></td>
            <td colspan="2"><%= student.nombre %></td>
            <td colspan="2"><%= student.primer_apellido %></td>
            <td colspan="2"><%= student.segundo_apellido %></td>
            <td colspan="2"><%= student.email %></td>
            <td colspan="2"><%= student.activo == 1 ? "Regular": "Baja"%></td>
            <td colspan="2"> <button class="btn btn-danger">Eliminar</button> <button class="btn btn-warning">editar</button> </td>
        </tr>
<% } %>
    </tbody>
</table>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/modal.js"></script>
<%- include('./partials/footer.ejs') %>